# Python
.pyc
__pycache__
venv/

# VSCode
.vscode

# Secrets
.env*
compose/prod
.elasticbeanstalk

# React
.eslintcache
.DS_Store
# Elastic Beanstalk Files
.elasticbeanstalk/*
!deploy/.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.global.yml
